<div id="sidebar-wrapper"  style="background-color: DarkSlateGray">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"> <a href="/admin">Underwood-Admin </a></li>
    <!-- user specific menu -->
    <% if current_user != nil %>
      <li> <a href="/admin/user/"> Users </a> </li>
      <li> <a href="/task/"> Tasks </a> </li>
      <li> <a href="settings"> Settings </a> </li>
      <li>
        <%= link_to "Logout", {:controller => :admin_session, :action => :destroy}, {:style =>  'display: inline;' } %>
      </li>
    <% else %>
      <li><%= link_to "Login", {:controller => :admin_session, :action => :new}, {:style =>  'display: inline;' } %></li>
    <% end %>

    <!-- end of join/login menu -->
  </ul>
</div>