<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"> <a href="/">Underwood </a></li>
    <!-- user specific menu -->
    <% if current_user != nil %>
      <% if !current_user.is_admin %>
        <% if current_user.is_eval %>
          <li>  <%= link_to "pdsfs", :controller => :evaluate, :action => :index %></a> </li>
        <% elsif current_user.is_submit %>
          <li> <a href="/task/">Tasks</a> </li>
        <% end %>
        <li> <a href="/settings">Settings</a> </li>
      <% end %>
    <% end %>
    <!-- end of user specific menu -->
    <!-- join/login menu -->
    
    <li>
    <% if current_user == nil %>
     <%= link_to "Join", {:controller => :user, :action => :new}, {:style =>  'display: inline;' } %>
     | 
     <% end %>
      <% if current_user != nil %>
        <%= link_to "Logout", {:controller => :session, :action => :destroy}, {:style =>  'display: inline;' } %>
      <% else %>
        <%= link_to "Login", {:controller => :session, :action => :new}, {:style =>  'display: inline;' } %>
      <% end %>
    </li>
    <!-- end of join/login menu -->
  </ul>
</div>