<div id="wrapper">
  <%= render "admin_sidebar" %>
  <div id="page-content-wrapper">
    <%= render "/static_pages/flash_container" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>Hello Admin ! Welcome</h1>
          <%= render "/static_pages/menu_toggle" %>
        </div>
      </div>
    </div>
  </div>
</div>