<div id="wrapper">
  <%= render "/static_pages/sidebar" %>
  <div id="page-content-wrapper">
    <%= render "/static_pages/flash_container" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          
            <div class="row">
			  <div class="col-md-6 col-md-offset-3">
			  	<h1>Settings</h1>
			    <h2>User</h2>
			    <li> <a href="/edit"> edit </a> </li>
          <% if current_user != nil && !current_user.is_admin %>
			      <li> <%= link_to "Sign out", :controller => "user", :action => :destroy %> </a> </li>
          <% end %>
			  </div>
			</div>
          <%= render "/static_pages/menu_toggle" %>
        </div>
      </div>
    </div>
  </div>
</div>



