
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}


.form-general {
    margin: 0 auto;
    max-width: 600px;
    padding: 15px;
}
.form-general .form-general-heading, .form-general .checkbox {
    margin-bottom: 10px;
}
.form-general .checkbox {
    font-weight: normal;
}
.form-general .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-general .form-general:focus {
    z-index: 2;
}

.black-background {background-color:#000000;}
.white {color:#ffffff;}