<!DOCTYPE html>
<html>
<head>
  <title>DbTeamproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">

	.black-background {background-color: black;}
	.white {color:#ffffff;}

	.black-background:hover {background-color: black }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
